<html>
<body>
<h3>Hi ${user.userName}, </h3>

<div>
	This email is sent to you because your email address is <a href="mailto:${user.email}">${user.email}</a>.
	<br />
	Your password has been reset to "${user.password}".
</div>
</body>

</html>